NEXT_PUBLIC_SITE_URL=http://localhost:3001
NEXT_PUBLIC_ADMIN_API_URL=http://localhost:3000/api
ADMIN_API_URL=http://localhost:3000/api
ALLOW_PRODUCTION_API_IN_PREVIEW=false
NEXT_PUBLIC_TURNSTILE_SITE_KEY=1x00000000000000000000AA
